$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/// Variables
$yellow: #F8E81C;
$grey: #9B9B9B;

$normal-text: normal;
$bold-text: 700;
$italic-text: italic;

body {
  font-family: 'Roboto', sans-serif;
}

h2 {
  color: $grey;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-style: $italic-text;
  font-weight: 300;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 48px;
  }
}

section {
  padding: 20px 0;
  position: relative;

  @media (min-width: 768px) {
    padding: 100px 0;
  }

  &#twitter-section {
    background-image: url('../img/twitter-logo.png');
    background-position: 5% 130%;
    background-repeat: no-repeat;
    background-size: 179px 143px;
    overflow: hidden;
    padding: 30px 0 109px;

    @media (min-width: 768px) {
      padding: 60px 0;
    }
  }

  &#product-section {
    height: 400px;

    @media (min-width: 768px) {
      height: 600px;
    }

    @media (min-width: 980px) {
      height: 868px;
    }

    .content {
      max-width: 400px;

      @media (min-width: 768px) {
        margin-top: 78px;
        max-width: 530px;
      }

      p {
        max-width: 470px;
      }
    }
  }

  &#summary-section {
    text-align: center;
  }

  &#video-section {
    background-image: url('../img/texture.png'), url('../img/texture.png');
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
    background-size: 258px 475px;
    padding: 100px 0;

    @media (min-width: 980px) {
      padding: 170px 0;
    }
  }

  &#social-section {
    overflow: hidden;
    padding: 0 0 30px;
    text-align: center;

    .col-md-12 {
      padding: 0;
    }
  }
}

footer {
  padding: 20px 0;

  @media (min-width: 768px) {
    padding: 70px 0;
  }

  #site-title,
  .navbar-nav {
    margin: 0 auto 10px;
  }

  #site-title {

    @media (min-width: 768px) {
      float: left;
      margin-right: 30px;
    }
  }

  .navbar-nav {
    display: block;
    width: 152px;

    @media (min-width: 768px) {
      margin-left: 30px;
    }

    li {
      margin: 0 5px;

      + li {
        margin: 0 5px;
      }
    }
  }

  p {
    color: #fff;
    margin: 0;
    text-align: center;

    @media (min-width: 768px) {
      padding: 15px 0;
    }
  }
}

.bkgd-black {
  color: #fff;
  background-color: #000;

  h2 {
    color: $yellow;
  }
}

.bkgd-yellow {
  background-color: $yellow;

  h2 {
    color: #000;

    #form-section & {
      margin-bottom: 100px;
    }
  }
}

.jumbotron {
  background: url(../img/hero-image.jpg) no-repeat right;
  background-size: cover;
  height: 400px;
  margin-bottom: 0;
  position: relative;

  @media (min-width: 768px) {
    height: 782px;
  }

  &-content {
    bottom: 0;
    max-width: 400px;
    position: absolute;
    width: 80%;

    @media (min-width: 768px) {
      bottom: 80px;
      max-width: 640px;
    }
  }

  h1 {
    background: #000;
    color: $yellow;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: $italic-text;
    font-weight: 300;
    left: -110%;
    padding: 20px 0 20px 15%;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: left .7s ease-out;
    transition: left .7s ease-out;

    @media (min-width: 768px) {
      font-size: 48px;
    }

    &:after {
      border-bottom: 0;
      border-left: 0 solid transparent;
      border-right: 25px solid transparent;
      border-top: 62px solid #000;
      content: ' ';
      position: absolute;
      right: -25px;
      top: 0;

      @media (min-width: 768px) {
        border-right: 32px solid transparent;
        border-top: 92px solid #000;
        right: -32px;
      }
    }

    .welcome & {
      left: 0;
    }
  }

  p {
    font-size: 14px;
    left: -100%;
    padding-left: 15%;
    position: relative;
    -webkit-transition: left .7s ease-out .4s;
    transition: left .7s ease-out .4s;

    @media (min-width: 768px) {
      font-size: 18px;
    }

    .welcome & {
      left: 0;
    }
  }
}

.container {
  max-width: 1140px;
}

#site-title {
  display: block;
  padding: 10px 0;
  width: 70px;

  @media (min-width: 768px) {
    padding: 0;
    width: 97px;
  }
}

.navbar {
  background: rgba(0,0,0,0.6);
  padding: 15px 0;

  @media (min-width: 768px) {
    padding: 39px 0;
  }

  .menu-open & {
    background: rgba(0,0,0,1);
  }
  
  &-header {
    float: none;
  }

  .header-items {
    overflow: hidden;

    .btn {
      padding: 12px;
      margin-right: 10px;

      @media (min-width: 768px) {
        display: inline-block;
        padding: 12px 60px;
      }
    }
  }

  &-toggle {
    border: 0;
    border-radius: 0;
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 0;

    .icon-bar {
      background: $yellow;
      display: none;
      height: 7px;
      width: 45px;

      + .icon-bar {
        margin-top: 11px;
      }
    }

    .close-btn {
      color: $yellow;
      font-size: 75px;
      line-height: 0.4;
    }

    &.collapsed {
      .icon-bar {
        display: block;
      }

      .close-btn {
        display: none;
      }
    }
  }
  
  &-collapse {
    border: 0;
    box-shadow: none;
    clear: both;
    margin-top: 25px;

    @media (min-width: 768px) {
      margin-top: 60px;
    }

    &.collapse {
      border: 0;
      box-shadow: none;
      display: none !important;
    }

    .navbar-fixed-top & {
      max-height: none;
    }
  }
  
  &-nav {
    float: none;
    margin: 7.5px 0;

    > li {
      float: none;

      &.active {
        font-weight: $bold-text;
      }

      > a {
        color: $yellow;
        font-size: 30px;
        font-style: $italic-text;
        line-height: 1;
        padding: 20px 0;
        text-transform: uppercase;

        @media (min-width: 768px) {
          font-size: 48px;
        }

        &:hover {
          background-color: transparent;
          font-weight: $bold-text;
        }

        &:focus {
          background-color: transparent;
        }
      }
    }
  }

  &-social {
    display: flex;

    > li {
      display: inline-block;

      + li {
        margin-left: 10px;
      }

      > a {
        background-repeat: no-repeat;
        background-size: contain;
        height: 38px;
        overflow: hidden;
        text-indent: -9999px;
        width: 38px;

        &.twitter {
          background-image: url('../img/icon_twitter@2x.png');
        }

        &.facebook {
          background-image: url('../img/icon_facebook@2x.png');
        }

        &.email {
          background-image: url('../img/icon_email@2x.png');
        }
      }
    }
  }
  
  &-collapse.collapse.in {
    display:block !important;
  }
}

.btn {

  &-default {
    background-color: $yellow;
    border-radius: 0;
    border: 0;
    font-size: 15px;
    font-weight: $bold-text;
    margin-right: 25px;
    padding: 12px 60px;
    text-transform: uppercase;

    &:hover {
      background-color: $yellow;
      opacity: 0.6;
    }
  } 

  &-play {
    background: url(../img/play-button.png);
    background-size: cover;
    border: 0;
    height: 108px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all .2s ease-in-out;
    width: 108px;

    &:hover {
      height: 120px;
      width: 120px;
    }
  }

  #social-section & {
    margin: 0 auto;
  }

  #form-section & {
    background-color: #000;
    color: $yellow;
    display: block;
    margin: 0 auto;
    width: 200px;

    @media (min-width: 768px) {
      display: inline;
      float: right;
      margin-right: 20%;
      width: auto;
    }
  }
}

.tweet {
  margin: 0 auto;
  max-width: 390px;
  text-align: center;
  transform: translateY(200%);
  -webkit-transition: transform .7s ease-out .4s;
  transition: transform .7s ease-out .4s;

  &-text {
    font-style: $italic-text;
  }

  &-username {
    font-weight: 900;
  }

  .show-tweet & {
    transform: translateY(0);
  }
}

.img {

  &-phone {
    bottom: 30px;
    max-width: 307px;
    position: absolute;
    right: 0;
    -webkit-transition: bottom 2s ease-out;
    transition: bottom 2s ease-out;
    width: 67%;

    @media (min-width: 768px) {
      max-width: 450px;
      width: 50%;
    }

    @media (min-width: 980px) {
      bottom: 0;
      max-width: 926px;
      width: 67%;
    }

    &[data-aos="move-up"] {
      transform: translateY(60px);
      transition-property: transform;
      &.aos-animate {
        transform:translateY(0);
      }
    }

    &-shadow {
      bottom: 0;
      max-width: 307px;
      position: absolute;
      right: 0;
      width: 67%;

      @media (min-width: 768px) {
        max-width: 450px;
        width: 50%;
      }

      @media (min-width: 980px) {
        max-width: 947px;
        width: 67%;
      }
    }
  }
}

.thumbnail {
  background: transparent;
  border: 0;

  .caption {
    color: #fff;
    transform: translateY(500%);
    -webkit-transition: transform .5s ease-out .5s;
    transition: transform .5s ease-out .5s;
  }

  h3 {
    font-weight: $normal-text;
    text-transform: uppercase;
  }

  img {
    height: 80px;
    transform: translateY(500%);
    -webkit-transition: transform .5s ease-out;
    transition: transform .5s ease-out;
  }

  &.in-view {

    img,
    .caption {
      transform: translateY(0);
    }
  }

  p {
    margin: 0 auto 10px;
    max-width: 310px;
  }
}

.subhead {
  margin: 0 auto 100px;
  max-width: 405px;
}

.video {

  &-content {
    clear: both;
    margin: 0 auto 50px;
    max-width: 515px;

    @media (min-width: 768px) {
      height: 515px;
      margin: 0 0 50px;
      max-width: none;
      overflow: hidden;
    }
  }

  &-container {
    left: -110%;
    margin: 0 auto 10px;
    max-width: 515px;
    position: relative;
    -webkit-transition: left .5s ease-out;
    transition: left .5s ease-out;

    @media (min-width: 768px) {
      float: left;
      margin: 0;
      width: 515px;

      .text-right & {
        float: right;
      }
    }

    .in-view & {
      left: 0;
    }

    img {
      max-width: 515px;
      width: 100%;
    }
  }

  &-copy {
    opacity: 0;
    -webkit-transition: opacity .5s ease-out .5s;
    transition: opacity .5s ease-out .5s;

    @media (min-width: 768px) {
      display: table-cell;
      padding-left: 50px;
      vertical-align: middle;

      .text-right & {
        padding: 0 50px 0 0;
      }
    }

    &-container {
      display: table;
      height: 100%;
    }

    .in-view & {
      opacity: 1;
    }

    h3 {
      text-transform: uppercase;
      margin: 0;
      font-weight: normal;
    }

    h4 {
      font-size: 24px;
      font-weight: $bold-text;
      margin: 0 0 20px;
      text-transform: uppercase;
    }
  }
}

.carousel {
  margin-bottom: 30px;
  
  .item div {
    padding: 0;
  }

  .img-responsive {
    margin-right: 0;
  }

  a:hover img {
    opacity: 0.7;
  }

  .cloneditem-1,
  .cloneditem-2,
  .cloneditem-3 {
    display: none;
  }

  &-inner {
    @media (min-width: 768px) {

      > .active.left,
      > .prev {
        left: -50%;
      }

      > .active.right,
      > .next {
        left: 50%;
      }

      > .left,
      > .prev.right,
      > .active {
        left: 0;
      }
      
      .cloneditem-1 {
        display: block;
      }
    }

    @media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
      > .item.active.right,
      > .item.next {
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
        left: 0;
      }

      > .item.active.left,
      > .item.prev {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        left: 0;
      }

      > .item.left,
      > .item.prev.right,
      > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
      }
    }

    @media all and (min-width: 992px) {
      > .active.left,
      > .prev {
        left: -25%;
      }

      > .active.right,
      > .next {
        left: 25%;
      }

      > .left,
      > .prev.right,
      > .active {
        left: 0;
      }

      .cloneditem-2,
      .cloneditem-3 {
        display: block;
      }
    }

    @media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
      > .item.active.right,
      > .item.next {
        -webkit-transform: translate3d(25%, 0, 0);
        transform: translate3d(25%, 0, 0);
        left: 0;
      }

      > .item.active.left,
      > .item.prev {
        -webkit-transform: translate3d(-25%, 0, 0);
        transform: translate3d(-25%, 0, 0);
        left: 0;
      }
      
      > .item.left,
      > .item.prev.right,
      > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
      }
    }
  }

  &-control {
    width: 69px;

    &.left,
    &.right {
      background: rgba(0,0,0,0.7);
    }
  }
}

#form-section .carousel {

  &-control {
    width: 6%;

    &.left,
    &.right {
      background: rgba(0,0,0,0.6);
    }
  }

  &-indicators {
    bottom: auto;
    left: auto;
    margin: 0 auto 80px;
    position: relative;
    width: auto;

    li {
      border: 2px solid #000;
      border-radius: 66px;
      color: #000;
      font-size: 48px;
      font-weight: 900;
      height: 64px;
      line-height: 1.2;
      margin-right: 30px;
      opacity: 0.2;
      padding: 0 10px;
      text-indent: 0;
      width: 64px;

      @media (min-width: 768px) {
        margin-right: 100px;
      }

      &:after {
        background: #000;
        content: '';
        height: 3px;
        margin-left: 21px;
        position: absolute;
        top: 48%;
        width: 30px;

        @media (min-width: 768px) {
          width: 90px;
        }
      }

      &:last-child {
        margin: 0;

        &:after {
          content: normal;
        }
      }
    }

    .active,
    .visited {
      background: transparent;
      height: 64px;
      opacity: 1;
      width: 64px;
    }
  }

  &-inner > .item {
    height: 178px;
  }
}

.panel {
  background-color: rgba(248,231,28,0.5);
  border: 0;
  border-radius: 0;
  box-shadow: none;

  &-group {

    .panel {
      margin-bottom: 20px;

      &-heading + .panel-collapse > .panel-body {
        border: 0;
      }
    }
  }

  &-default > .panel-heading {
    background-color: $yellow;
    color: #000;
    display: block;
    padding: 15px 20px;
    text-transform: uppercase;

      &:hover,
      &:focus {
        text-decoration: none;
      }
  }

  &-title {
    position: relative;

    &:after {
      content: '+';
      font-size: 18px;
      position: absolute;
      right: 0;
      top: -3px;

      .panel-heading[aria-expanded="true"] & {
        content: '-';
      }
    }
  }
}

.input-group,
.form-group {
  margin-bottom: 20px;
  position: relative;
  width: 100%;

  .form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: $grey;
    font-size: 16px;
    height: auto;
    padding: 10px;
  }

  select.form-control {
    padding-right: 28px;
  }

  .carat {
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    right: 10px;
    top: 14px;
  }
}
